
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


header{

    background-color: white;
    justify-content: space-between;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 130px;
    height: 60px;
}


.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    width: 500px;
    height: 24px;
    gap: 32px;
   margin: 34px 300px;
   font-size: medium;
   line-height: 152%;
   text-decoration: none;
   justify-content: space-between;
   align-items: center;
}

.btn{

    background-color: #469165;
    color: white;
    cursor: pointer;
    
    width: 150px;
    height: 44px;
    border-radius: 4px;
   border: none;
    margin-top:24px ;
    margin-bottom: 24px;
    margin-right: 120px;
    font-size: medium;
    align-items: right;
    padding-bottom: 5px;
}

.btn:hover{
    background-color: rgb(145, 255, 0);
     border: 1px red;
}

.banner{

 background: url("/assets/hero-bg.png");
    width: 1600px;
    height: 680px;
    align-items: center;
}

.banner-content{
   
   width: 1360px;
   height: 375px;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 115px;
    margin-bottom: 180px;
    
   
}


.banner-content .banner-button{
display: flex;
    border-radius: 30px;
    width: 200px;
    height: 80px;
    border: none;
    justify-content: space-around;
    align-items: center;
    color: #469165;
   
 
}

.banner-content .banner-button .banner-circle{

    width: 10px;
    height: 10px;
    background-color: #469165;
    border-radius: 50%;
    margin-left: 15px;
     border: 1px red;


}


 .banner .banner-content  h1{

    color: white;
     width: 770px;
    height: 168px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size:55px;
  
}

.banner .banner-content  h1 span{

    color: #30B868;
    width: 770px;
    height: 168px;
     align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}

.banner .banner-content p{
    color: #FFFFFF;
    font-size: 18px;
    width: 1360px;
    height: 60px;
      align-items: center;
    text-align: center;
    justify-content: center;
    word-spacing: normal;
}

.banner-content #button{
    display: flex;
    gap: 20px;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    padding-bottom: 180px;
   
}

.banner-content .button1{

    background-color: #469165;
    width: 260px;
    height: 55px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     color: #FFFFFF;
      align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;

   
}



.banner-content .button1:hover{

      background-color: #84ff00;
      color: rgb(254, 4, 4);
       border: 2px solid #ff00a6;
       
}


.banner-content .button2{

   
    width: 220px;
    height: 55px;
     border: inset 1px;
     border-color: #FFFFFF;
      background-color:  transparent;
     border-radius: 5px;
     font-size: 16px;
     color: #FFFFFF;
      align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;

   
}

.play-button{

    width: 25px;
    height: 25px;
}


.banner-content .button2:hover{

      background-color: #84ff00;
      color: rgb(254, 4, 4);
       border: 2px solid #ff00a6;
       
}


.notes .notes-content{
    width: 1600px;
text-align: center;
align-items: center;
justify-content: center;


}


.heading{

   
    height: 155px;
    text-align: center;
    align-items: center;
justify-content: center;
margin-left: 120px;
margin-right: 120px;
padding-top: 50px;

}

.heading h1{

font-size: 48px;
color: #001931;

}

.heading p{

    margin-top: 16px;
    color: #627382;

}


.card-box{
display: flex;
    margin-top: 45px;
    margin-right: 120px;
    margin-left: 120px;
     text-align: center;
    align-items: center;
justify-content: space-between;
}

.card-box .card{

    width: 322px;
    height: 300px;
    gap: 40px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: #FFFFFF ;
    box-shadow: 0 3px  3px #00000025;




}

.card-box .card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 16px;
}

.card-box .card h3{

text-align: center;
color: #001931;
margin-bottom: 16px;
font-size: 24px;
width: 274px;
height: 30px;

}

.card-box .card .big{

text-align: center;
color: #001931;
margin-bottom: 16px;
font-size: 24px;
width: 274px;
height: 55px;

}


.card-box .card p{


    font-size: 16px;
    color: #627382;
    height: 40px;
   

}

.secound-brain{


    padding: 120px;
    width: 1600px;
    height: 850px;


}



.secound-brain .secound-brain-content{
    display: flex;
    gap: 60px;



}

.secound-brain .secound-brain-content .light-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.text{
    height: 400px;
    text-align: left;
  margin-bottom: 101.5px;
  margin-top: 101.5px;
}

.text .p-hed{
    font-size: 16px;
    color: #469165;
    line-height: 20px;
    height: 20px;
    margin-bottom: 16px;
}

.text h1{

    font-size: 48px;
    color: #001931;
   margin-bottom: 16px;


}

.text p{

    font-size: 16px;
    color: #627382;
   margin-bottom: 40px;


}

.text ul{

    list-style: none;
  
}

.text ul li{

    display: flex;
    margin-bottom: 16px;
    gap: 10px;
}

.early-access{

height: 400px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 120px;
    background-color: #F7F6F2;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.early-access .last1{

    width: 1280px;
    margin-bottom: 24px;
}

.early-access .last2{

     width: 1280px;
     text-align: center;
     justify-content: center;
     align-items: center;


}

.early-access .last1 h1{

    font-size: 40px;
    color: #001931;
    width: 1280px;
    padding-top: 80px;
   
   margin-bottom: 16px;

}

.early-access .last1 p{

    font-size: 16px;
    color: #627382;
    width: 1280px;
   margin-bottom: 18px;

}

 .get{

    background-color: #469165;
    border-radius: 5px;
    width:194px ;
    height: 52px;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
    margin-left: 543px;


}

.early-access button:hover{
    background-color: rgb(145, 255, 0);
     border: 1px red;
}

 .get img{
    width: 16px;
    height: 16px;
    
}


 .get{
    gap: 10px;
}

.last2 p{


    font-size: 16px;
    color: #627382;
    line-height: 20px;
    width: 1280px;
    margin-bottom: 80px;
    
}



footer{

    height: 350px;
    background-color: #001931;
    width: 1600px;
}

footer .fut{
    display: flex;
   padding-top: 120px;
   padding-left: 120px;
   padding-right: 120px;
   justify-content: space-between;
}

footer .fut .fut-img{


    width: 139px;
    height: 60px;
}

footer .fut .social{

width: 220px;
height: 64px;
text-align: left;
color: white;

}

.h3 h3{
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 16px;
    width: 133px;
    height: 28px;
}

.icon{
    display: flex;
    gap: 16px;
    
}

.link{

    width: 20px;
    height: 20px;
    border-radius: 50%;
     background-color: white;
    

}

.hr{
    margin-top: 80px;
    margin-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
}

hr{
    border: 1px solid #3692BC;
}

.hr p{

color: white;
font-size: 16px;
margin-top: 30px;

}