
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


header{

    background-color: white;
    justify-content: space-between;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 120px;
    width: 139px;
    height: 60px;
}


.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    width: 367px;
    height: 24px;
    gap: 32px;
   margin: 34px 345px;
   font-size: medium;
   line-height: 152%;
   text-decoration: none;
   justify-content: space-between;
   align-items: center;
}

.btn{

    background-color: #469165;
    color: white;
    cursor: pointer;
    
    width: 164px;
    height: 44px;
    border-radius: 4px;
   border: none;
    margin-top:24px ;
    margin-bottom: 24px;
    margin-right: 120px;
    font-size: medium;
    align-items: right;
}
.btn:hover{
    background-color: rgb(145, 255, 0);
}



.banner-content{
    background: url("/assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    margin-bottom: 0;
    padding-bottom: 0;
}